<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/styles.css">
    <link rel="stylesheet" href="/views/utilities.css">
    <script src="https://kit.fontawesome.com/3116f3c9df.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
<!--***Section 1***-->
<!--Navbar-->
<div class="container">
<div class="navbar">

<h1>MemoryClock <i class="fas fa-clock"></i></h1>

<div class="menu">
<ul>
<li><a href="">Home</a></li>
<li><a href="">High Scores <i class="fas fa-map-marker"></i></a></li>
<li><a href="">Premium <i class="fas fa-puzzle-piece"></i></a></li>
</ul>
</div>





</div>
</div>

<!---->

<!--***Section 2***-->


<div class="container grid">

<form action="">
<input class= "form-card"type="text" placeholder="John Doe">

</form>

<a href="" class="btn btn-start">Play</a>



</div>

<!--Start Button + Name Entry-->
<!---->

<!--***Section 3 ***-->
<!--Main layout for boxes-->
<!--Enter button-->
<!--Timer-->
<!---->

<!--***Section 4 ***-->
<!--Footer-->
<!---->
   
</body>
</html>