<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/views/styles.css" />
        <link rel="stylesheet" href="/views/utilities.css" />
        <script src="https://kit.fontawesome.com/3116f3c9df.js" crossorigin="anonymous"></script>
        <title>Document</title>
    </head>
    <body>
        <!--***Section 1***-->
        <!--Navbar-->
        <div class="container">
            <div class="navbar">
                <h1>MemoryClock <i class="fas fa-clock"></i></h1>

                <div class="menu">
                    <ul>
                        <li><a href="">Home</a></li>
                        <li>
                            <a href="" class="High-scores">High Scores <i class="fas fa-map-marker" id="clock"></i></a>
                        </li>
                        <li>
                            <a href="">Premium <i class="fas fa-lock"></i></a>
                        </li>
                    </ul>
                </div>

<div class="modal">

    <a href=""><i class="fas fa-bars"></i></a>



</div>


            </div>
        </div>

        <!---->

        <!--***Section 2***-->

        <div class="container grid">
    

        <!--Start Button + Name Entry-->      
        
        <a href="" class="btn btn-start before" id="pause">Pause  <i class="fas fa-pause"></i></a>
        <form action="" class="form" id="main-form">
                <input class="form-card before" id="form" type="text" placeholder="Enter name" required />
                 
                <button type="submit" class="btn btn-start before" id="start">Start </button>
                
            </form>
               
            <a href="" class="btn btn-start" id="playbutton">Play</a>
            <a href="" class="btn btn-start before" id="restart">Restart</a>
        </div>
        <!---->

        <!--***Section 3 ***-->
        <section class="main-container">
            <div class="grid-container" id="gridContainer">
                <!-- empty for now -->
                <!-- Work in progress -->
            </div>

            <div class="actions">
                <button type="button" class="btn btn-submit">Submit</button>
                <div class="timer">
                    <i class="fas fa-clock"></i>
                    <p id="timer">30</p>
                    seconds
                </div>
            </div>

            <template id="coloredCox">
                <div class="colored-box-container">
                    <div class="colored-box hover"></div>
                </div>
            </template>

            <!-- TEMP CODE -->
            <script>
                function getRandomInt(max) {
                    return Math.floor(Math.random() * max)
                }

                const template = document.querySelector("#coloredCox")
                const container = document.querySelector("#gridContainer")
                const SIZE = 6

                for (let i = 0; i < SIZE; i++) {
                    console.log("i: ", i)
                    const clonedBox = template.content.cloneNode(true)
                    const clonedDiv = clonedBox.querySelector(".colored-box")
                    clonedDiv.style.backgroundColor = `rgb(${getRandomInt(255)}, ${getRandomInt(255)}, ${getRandomInt(255)})`
                    console.log("clonedDiv: ", clonedDiv.style)
                    container.append(clonedBox)
                }
            </script>
        </section>
        <!--Main layout for boxes-->
        <!--Enter button-->
        <!--Timer-->
        <!---->

        <!--***Section 4 ***-->
        <!--Footer-->
        <!---->
    </body>
    <script src="/views/main.js"></script>
</html>
