<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="/views/utilities.css" />
        <link rel="stylesheet" href="/views/styles.css" />

        <script src="https://kit.fontawesome.com/3116f3c9df.js" crossorigin="anonymous"></script>
        <title>Document</title>
    </head>
    <body>
        <!--***Section 1***-->
        <!--Navbar-->
        <div class="container">
            <div class="navbar">
                <h1>MemoryClock <i class="fas fa-clock"></i></h1>

                <div class="menu">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>
                            <a href="" class="High-scores">High Scores <i class="fas fa-map-marker" id="clock"></i></a>
                        </li>
                        <li>
                            <a href="/views/Premium.html">Premium <i class="fas fa-lock"></i></a>
                        </li>
                    </ul>
                </div>

                <div class="modal">
                    <a href="javascript:void(0);" onclick="myFunction()"><i class="fas fa-bars"></i></a>
                    <div id="myLinks" class="topnav before">
                        <a href="#news">Login</a>
                        <a href="/views/Premium.html">Premium</a>
                        <a href="#about">High-scores</a>
                    </div>
                </div>
            </div>
        </div>

        <!---->

        <!--***Section 2***-->

        <!--Start Button + Name Entry-->

        <div class="container section2">
            <input type="text" class="input1 before" id="input1" placeholder="Enter Name" />
            <button class="btn start" id="btn1">Play</button>
            <button class="btn start before" id="btn2">Start</button>
        </div>

        <!---->

        <!--***Section 3 ***-->
        <section class="main-container hidden" id="gameContainer">
            <div class="level-container">
                <h3>
                    Level
                    <span class="level" id="level">1</span>
                </h3>
            </div>

            <div class="level-info">
                <div class="iconed-label">
                    <i class="fas fa-heart"></i>
                    <p id="lives">0</p>
                    lives remaining
                </div>

                <div class="iconed-label">
                    <i class="fas fa-bullseye"></i>
                    <p id="score">0</p>
                    points
                </div>
            </div>

            <div class="grid-container col-6" id="gridContainer">
                <!-- empty for now -->
                <!-- Work in progress -->
            </div>

            <div class="actions">
                <button type="button" id="game-submit" class="btn btn-submit">Submit</button>
                <div class="timer" id="timerContainer">
                    <i class="fas fa-clock"></i>
                    <p id="timer">0</p>
                    seconds
                </div>
            </div>

            <template id="coloredCox">
                <div class="colored-box-container">
                    <div class="colored-box hover"></div>
                </div>
            </template>
        </section>
        <section class="main-container hidden" id="failContainer">
            <div class="message-container">
                <h5>You lost the game :/</h5>
                <button type="button" onclick="restartHandler()" class="btn btn-submit">Restart Game</button>
            </div>
        </section>
        <section class="main-container hidden" id="successContainer">
            <div class="message-container">
                <h5>
                    You have won the game with the score of
                    <p id="successScore">0</p>
                    !!
                </h5>
                <button type="button" onclick="restartHandler()" class="btn btn-submit">Restart Game</button>
            </div>
        </section>
        <!---->

        <!--***Section 4 ***-->
        <!--Footer-->
        <div class="container footer">
            <div>
                <h3>Check out our other games</h3>
                <ul>
                    <li>Speed-Test</li>
                    <li>Puzzle-maze</li>
                    <li>Mystery Plaza</li>
                </ul>
            </div>

            <div>
                <h3>Link with us on Social Media</h3>
                <ul>
                    <li>Facebook <i class="fab fa-facebook"></i></li>
                    <li>Twitter <i class="fab fa-twitter"></i></li>
                    <li>Instagram <i class="fab fa-Instagram"></i></li>
                </ul>
            </div>
        </div>
        <div id="footer">&copy; All rights reserved</div>
    </body>
    <script src="./game.js" defer></script>
    <script src="/views/main.js" defer></script>
    <script src="./game-logic.js" defer></script>
</html>
