<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="/views/utilities.css" />
        <link rel="stylesheet" href="/views/styles.css" />
        <link rel="stylesheet" href="/views/premium.css" />

        <script src="https://kit.fontawesome.com/3116f3c9df.js" crossorigin="anonymous"></script>
        <title>Document</title>
    </head>
    <body>
        <!--***Section 1***-->
        <!--Navbar-->

        <div class="container">
            <div class="navbar">
                <h1>MemoryClock <i class="fas fa-clock"></i></h1>

                <div class="menu">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>
                            <a href="" class="High-scores">High Scores <i class="fas fa-map-marker" id="clock"></i></a>
                        </li>
                        <li>
                            <a href="/views/Premium.html">Premium <i class="fas fa-lock"></i></a>
                        </li>
                    </ul>
                </div>

                <div class="modal">
                    <a href="javascript:void(0);" onclick="myFunction()"><i class="fas fa-bars"></i></a>
                    <div id="myLinks" class="topnav before">
                        <a href="#news">Login</a>
                        <a href="/views/Premium.html">Premium</a>
                        <a href="#about">High-scores</a>
                    </div>
                </div>
            </div>
        </div>

        <!---->

        <!--***Section 2***-->

        <!--Login to Premium Membership-->

      <div class="container">
<form action="POST" class="login-form">
<label for="account">Username</label>
<input type="text" class="input-text">

<label for="accoount">Password</label>
<input type="text" class="input-text">

<button type ="submit">Login</button>

</form>





      </div>

     <!---->
        <div class="container footer">
          
        <div>
            <h3>Check out our other games</h3>
             <ul>
<li>Speed-Test</li>
<li>Puzzle-maze</li>
<li>Mystery Plaza</li>
             </ul>
         

        </div>

        <div>
            <h3>Link with us on Social Media</h3>
            <ul>
<li>Facebook <i class="fab fa-facebook"></i> </li>
<li>Twitter  <i class="fab fa-twitter"></i></li>
<li>Instagram <i class="fab fa-Instagram"></i></li>


        </div>
        


        </div>
        <div id="footer">
            &copy; All rights reserved
        </div>


        <!---->
    </body>
    <script src="/views/main.js"></script>
</html>
