*,
*::before,
*::after {
    box-sizing: border-box;
}

button {
    font-family: inherit;
}

.container {
    margin-top: 5px;
    margin-left: 30px;
    width: 100%;
    max-width: 1500px;
}

img {
    width: 100%;
}

h1 {
    font-size: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}

.btn {
    background-color: #f3f2c9;
    outline: none;
    border: none;
}
