*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --primary-color: #055052;
    --secondary-color: #f3f2c9;
    --primary-accent: #53b8bb;
    --secondary-accent: #4caf50;
    --primary-text-color: #fdfdfd;
    --secondary-text-color: #222;
}

button {
    font-family: inherit;
}

.container {
    margin: 0 auto;

    max-width: 1100px;
}

img {
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}

.btn {
    color: var(--secondary-text-color);
    background-color: var(--secondary-color);
    outline: none;
    border: none;
}
